<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>廖彥維簡介6969</title>
	<head>
  <link rel="stylesheet" href="/static/styles.css">
</link>
</head>
	


</head>
<body>
	<div id="table-container">
	<table width="30%" border="1">
		<tr>
			<td id="cell1">
				<h1>廖彥維<h1>
		<h2>聯絡資訊<h2>
		Gmail:100767713vincent@gmail.com
		Outlook:s1111185@o365st.pu.edu.tw
		Tel:0928327810<br>

			</td>

			<td id="cell2">
  				<br><span style="font-size:50px;">學歷:</span><br>
  					<h2><span>靜宜大學資訊管理學系二年級</span><h2>
  					
  					
					
			</td>

			<td id="cell3">
	<br><span style="font-size:50px;">個人興趣:</span><br>
				<span2>喜歡騎車到處旅行，攝影</span2>
				<br><span2>偶爾烘焙一些點心</span2><br>
				</td>
		</tr>
	</table>		
	</div>

<?php echo date("Y-m-d") ?>

	
</body>
</html>